@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
@import './styles';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply inline-block underline;
  }

  a:not([class]) {
    @apply hover:text-primary;
  }

  img {
    @apply inline-block;
  }

  a img {
    @apply no-underline;
  }

  i { /* terms */
    @apply text-action font-bold not-italic;
  }
  
  /* icons */
  svg {
    @apply inline-block h-5 sm:h-6 w-5 sm:w-6 -mt-1;
  }

  h2 {
    @apply relative flex flex-col w-1/2 mx-auto text-3xl md:text-4xl lg:text-5xl font-bold text-center tracking-tight;
  }

  h2 span {
    @apply relative left-[12.5%];
  }

  h2 span:first-child {
    @apply transform -translate-x-1/4;
  }

  h2 span:last-child {
    @apply transform -translate-y-1/4;
  }

  h3 {
    @apply font-bold text-lg md:text-xl;
  }

  section, footer {
    @apply px-6 py-12 lg:py-20;
  }

  section h2, footer h2 {
    @apply pb-8;
  }

  .hard-shadow {
    box-shadow: 6px 6px 0px #000;
  }

  .hard-shadow-white {
    box-shadow: 6px 6px 0px #fff;
  }

  .disapprove:hover .avatar {
    @apply -translate-y-8;
  }
}
