@layer base {
  html {
    background-color: var(--sublime-bg);
  }

  body {
    background-color: white;
  }

  a {
    @apply inline-block underline;
  }

  b.term {
    @apply text-burnt-sienna;
  }

  h3 {
    @apply font-bold text-lg md:text-xl;
  }

  img {
    @apply inline-block;
  }

  .bg-code {
    background: url('/code.png') 0% 0% no-repeat;
    background-size: 16em;
  }

  .bg-code:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(135deg, transparent 6%, white 6%);
  }

  .heading {
    @apply relative flex flex-col w-1/2 mx-auto;
    @apply text-3xl md:text-5xl lg:text-6xl font-extrabold text-center tracking-tight;
  }

  .heading span {
    @apply relative left-[12.5%];
  }

  .heading span:first-child {
    @apply transform -translate-x-1/4;
  }

  .tag {
    @apply inline-block bg-gray-400 hover:bg-gray-500 font-mono text-white text-sm px-3 py-1 rounded-xl no-underline cursor-pointer;
  }

  .icon {
    @apply inline-block h-6 w-6 -mt-1 mx-1;
  }
}