@layer components {
  .projects {
    @apply space-y-12;
  }

  .project {
    @apply relative bg-white text-black flex flex-col-reverse lg:flex-row lg:h-[400px] overflow-hidden transition-all hard-shadow rounded-lg border-2 border-black;

    /* scale on hover effect */
    @apply lg:hover:scale-105;
  }

  .project__copy {
    @apply w-full lg:w-2/5 p-6 flex flex-col justify-between gap-4 lg:border-t border-gray-300 lg:border-t-0;
    @apply relative z-50;
  }

  .project__desc {
    @apply space-y-4;
  }

  .project__desc h3 {
    @apply text-center;
  }

  .project__desc .tags {
    @apply justify-center;
  }

  .project__spec {
    @apply flex flex-col sm:flex-row flex-wrap bg-gray-100 px-3 py-2 mb-2 text-sm rounded;
    display: none;
  }

  .project__spec > div {
    @apply w-full sm:w-1/2;
  }

  .project__spec span {
    @apply font-bold;
  }

  .project__links {
    @apply flex flex-row gap-x-2 justify-end lg:justify-start;
  }

  .project__links a {
    @apply button button--small;
  }

  .project__media {
    @apply relative w-auto lg:w-3/5 h-64 sm:h-96 lg:h-auto m-6 mb-0 lg:m-0;
    @apply bg-cover bg-top lg:bg-right-top lg:grayscale;
    @apply rounded-lg lg:rounded-none border-2 border-black lg:border-0;
    box-shadow: inset 0 0 12px rgba(0 0 0 / 0.45);
  }

  .project__media:before {
    content: "";
    @apply absolute w-full h-full bg-red-200 top-0 left-0;
    background: linear-gradient(to bottom right, transparent 50%, rgba(0 0 0 / 0.1) 50%);
  }

  .project__media--breezeline { background-image: url('/posters/breezeline.webp'); }
  .project__media--myaccount { background-image: url('/posters/myaccount.webp'); }
  .project__media--eregulations { background-image: url('/posters/eregulations.webp') }
  .project__media--mazda { background-image: url('/posters/mazda.webp') }
  .project__media--cisco { background-image: url('/posters/cisco.webp') }
  .project__media--ibm { background-image: url('/posters/ibm.webp') }
  .project__media--vw { background-image: url('/posters/vw.webp') }
  .project__media--tgsmci { background-image: url('/posters/tgsmci.webp') }
  .project__media--acg { background-image: url('/posters/acg.webp') }

  .project__media:after {
    content: "";
    @apply hidden lg:block absolute w-[200px] h-full bg-white transition -skew-x-12 -translate-x-[100px] border-r-2 border-black;
  }

  .project:hover .project__media {
    @apply lg:grayscale-0;
  }

  .project:hover .project__media:after {
    @apply lg:-translate-x-[150px];
  }
}