@layer components {
  .timeline {
    display: grid;
    place-items: start stretch;
    place-content: center start;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    row-gap: 2rem;

    /* todo: put on md: */
    @media (min-width: 780px) {
      grid-template-columns: [ls] 1fr [le] 100px [rs] 1fr [re];
      grid-template-rows: repeat(18, 110px); /* repeat by number of div.year */
      column-gap: 1rem;
      row-gap: 0;
    }

    @media (min-width: 960px) {
      grid-template-rows: repeat(18, 100px); /* repeat by number of div.year */
    }
  }

  .timeline .year {
    grid-column: le / rs;
    place-self: stretch center;
    @apply relative h-full hidden md:block;
  }

  .timeline .year:nth-child(n+2):before {
    content: "";
    @apply absolute top-0 left-1/2 bg-persian-green h-full w-2 transform -translate-x-1/2 z-10;
  }

  .timeline .year span {
    @apply relative z-50 text-white font-mono text-xl font-bold bg-persian-green px-4 py-2 rounded-full;
  }
}