@layer components {
  .timeline {
    @apply grid justify-items-stretch items-start grid-cols-1 grid-flow-row auto-rows-auto gap-x-4 gap-y-12 md:gap-y-0;

    @media screen(md) {
      grid-template-columns: [ls] 1fr [le] 100px [rs] 1fr [re];
      grid-template-rows: repeat(19, 110px); /* repeat by number of div.year */
    }

    @media screen(lg) {
      grid-template-rows: repeat(19, 90px); /* repeat by number of div.year */
    }
  }

  .timeline .year {
    grid-column: le / rs;
    @apply justify-self-center relative h-full hidden md:block;
  }

  .timeline .year:nth-child(n+2):before {
    content: "";
    @apply absolute top-0 left-1/2 bg-persian-green h-full w-2 transform -translate-x-1/2 z-10;
  }

  .timeline .year span {
    @apply relative z-50 text-white text-xl font-bold bg-persian-green px-4 py-2 rounded-xl;
  }
}