@layer components {
  .work {
    @apply relative bg-white text-black transition-all hard-shadow rounded;    
    /* make it scrollable (1 of 2) */
    /* @apply h-full flex flex-col; */
  }

  .work {
    /* scale on hover effect */
    @apply lg:hover:scale-105;
    @apply border-2 border-black;
  }

  .work__banner {
    @apply absolute top-0 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .work__banner span {
    @apply block relative z-50 px-3 py-1 text-white whitespace-nowrap text-sm;
  }

  .work__banner::before {
    content: "";
    @apply absolute w-full h-full inset-0 z-10 bg-black -skew-x-12 rounded;
  }

  .work__header {
    @apply p-6 flex flex-row justify-start items-center bg-white leading-tight rounded;
  }

  .work__header a {
    @apply shrink-0;
  }

  .work__header h3 {
    @apply font-bold text-lg lg:text-xl whitespace-nowrap;
  }

  .work__logo {
    @apply w-10 h-10 mr-4 lg:w-12 lg:h-12 lg:mr-6 rounded;
  }

  .work__body {
    @apply border-t-2 border-black p-6 bg-gray-100 space-y-6 rounded-b;

    /* make it scrollable (2 of 2) */
    /* @apply h-full overflow-y-scroll; */
  }

  .work__achievement {
    @apply relative ml-8 pl-4;
  }

  .work__achievement:before {
    content: "";
    background: url('/star.png') no-repeat;
    @apply absolute w-8 h-8 left-0 top-0 transition transform -translate-x-full rotate-0 bg-contain;
  }
}